[Unit]
Description=Selfmade onboot service for updated etc
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/$MY_SCRIPT$

[Install]
WantedBy=default.target
